<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body {
            background-color: #89B9AD;
        }

        h1 {
            color: #FFC5C5;
            font-size: 60px;
            font-weight: bolder;
            text-decoration: underline dotted white
        }

        h2 {
            color: #FFEBD8
        }

        .btn {
            background-color: #364A45;
            border-color: #364A45
        }

        tr {
            color: #364A45
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Outsourced Part Detail</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST" }>

    <!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

    <p><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

    <p><input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

    <p><input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

    <p><input type="text" th:field="*{minInv}" placeholder="Minimum Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('minInv')}" th:errors="*{minInv}">Minimum Inventory Error</p>

    <p><input type="text" th:field="*{maxInv}" placeholder="Maximum Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('maxInv')}" th:errors="*{inv}">Maximum Inventory Error</p>

    <p><input type="text" th:field="*{companyName}" placeholder="Company Name" class="form-control mb-4 col-4"/></p>


    <p>
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err: ${#fields.allErrors()}" th:text="${err}" class="error"></li>
        </ul>
    </div>
    </p>

    <p><input type="submit" value="Submit"/></p>
</form>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>